.thing {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    transform-origin: bottom right;
    
}

#stick {
    position:  absolute;
    width: 10px;
    height: 300px;
    background-color: black;
    left: 50%;
    
    bottom: 0;
    transform: translateX(-50%);
}

#timer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: monospace;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}